TOUR_SHEETS_ID=1OUtAtMZrE4cR-GDijHu4IY4bbowjs3itHpjSTpq1I8g
GOOGLE_SERVICE_ACCOUNT_KEY=<base64-encoded-service-account-json>
TOUR_NAME=Canal des Deux Mers 2026
TOUR_SLUG=cdm-2026
TOUR_START_DATE=2026-05-10
TOUR_END_DATE=2026-05-18
TOUR_DESCRIPTION=Bordeaux to Sète: 289 miles, 8 days, self-supported cycling
R2_BASE_URL=https://pub-40b24fc600d44d828529b84a0d97ded7.r2.dev
